__pycache__/
.vscode/

Dataset/dataset*
Dataset/.env
Dataset/data*
Dataset/vocab.txt

Model/models/
Model/predictions/
Model/results/

Model-ATTN/models/
Model-ATTN/predictions/
Model-ATTN/results/

Model-PtrATTN/models/
Model-PtrATTN/predictions/
Model-PtrATTN/results/
